@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

:root {
  --background: #ffffff; /* Branco absoluto, super clean */
  --foreground: #090a0a; /* Texto quase preto para contraste máximo */

  --primary: #10b981; /* Verde esmeralda vivo e tecnológico */
  --primary-foreground: #ffffff;

  --card: #ffffff;
  --card-foreground: #090a0a;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --border: #e4e4e7; /* Cinza claro para contornos exatos e finos */
  --radius: 1rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  /* Esconde a scrollbar para Chrome, Safari e Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Esconde a scrollbar para IE, Edge e Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE e Edge */
    scrollbar-width: none; /* Firefox */
  }
}
